body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 73, 73);
}

body::-webkit-scrollbar-thumb:active {
    background: rgb(97, 97, 97);
}

body {
    font-family: raleway, sans-serif;
    transition:1s;
}
#fadetowhite {
    transition:0.5s;
    z-index:2;
    opacity:0;
    height:100vh;
    width:100%;
    position:fixed;
    background-color:white;
}

.navbar {
    text-transform: uppercase;
}

.nav-link {
    margin-left: 40px;
    margin-right: 40px;
}

.dlogo {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .menulogo {
        display: none;
    }
}

.container-fluid div {
    transition:opacity 0.5s ,display 0s;
}