body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 73, 73);
}

body::-webkit-scrollbar-thumb:active {
    background: rgb(97, 97, 97);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  

body {
    font-family: raleway, sans-serif;
}

/*Some stuff */



/*Some extra code*/

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("https://i.ytimg.com/vi/iFj-YGsg5FQ/maxresdefault.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("https://icdn2.digitaltrends.com/image/blackmagic-design-pocket-cinema-camera-4k-review-5-720x720.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }

  /* End of Code */

#fadetowhite {
    transition:0.5s;
    z-index:1;
    opacity:0.3;
    height:100vh;
    width:100%;
    position:fixed;
    background-color:rgba(255,255,255,0.3);
}

.preloader {
    margin-left:49%;
    margin-top:25%;

}

.navbar {
    text-transform: uppercase;
}

.nav-link {
    margin-left: 40px;
    margin-right: 40px;
}

.dlogo {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .menulogo {
        display: none;
    }
}


/*bookingpage css*/
.cs-form-group {
    margin-right:30%;
    margin-left:10%;
}

/* Portfolio Page */
.portfolio-item {
    background-image: url("https://www.shootingpixels.net/wp-content/uploads/2018/03/splash01.jpg");
    min-height: 100%;
}

/*about us*/
#cs-scroller-bottom {
  position:fixed;
  right:1%;
  bottom:1%;
  background-color:transparent;
  width:auto;
  height:auto;
}

#cs-scroller-bottom i {
  font-size:60px;
  color:grey;
}