@media only screen and (min-width: 1400px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

.autocomplete-items {
    position: static;
    background-color: black;
    border: 1px solid #007bff;
    width: 194px;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/

}

.autocomplete {
    position: relative;
    display: inline-block;
  }

.autocomplete-items div {
    width:196px;
    position:absolute;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid #007bff;
}

::placeholder {
    color: grey;
}

.cs-formhead {
    color: white;
    padding-bottom: 10px
}

#support-search-method {
    background-color: black;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
}

input[type=text] {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    color: #70CCFF;
    background-color: black;
    max-width: 500px;
}

input[type=text]:focus {
    background-color: rgb(54, 54, 54);
    animation-name: form-text-focus;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.support-submit {
    background-color: black;
    color: white;
    padding: 7px;
    margin-top: 15px
}

.bg-support {
    background: url("images/WhatsApp\ Image\ 2019-05-03\ at\ 13.41.04.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

::placeholder {
    color: white;
}

.lookup-form {
    width: 100%;
}

#cs-searchbar {
    width: 100%;
    background-color: black;
    color: #03a9f4;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#cs-searchbar:focus {
    background-color: rgb(54, 54, 54);
}

@keyframes form-text-focus {
    0% {
        background-color: black;
    }
    99% {
        background-color: rgb(54, 54, 54);
    }
}

#cs-driver-data {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#cs-driver-data li a {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

#cs-driver-data li a:hover:not(.header) {
    background-color: #03a9f4;
    animation-name: cs-list-hover;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@keyframes cs-list-hover {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    99% {
        background-color: #03a9f4;
    }
}

select {
    background-color: #1f2326;
}

.view-table {
    margin: 50px 100px 50px 50px
}