body {
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width:1280px;
}

/** Start of Navbar Content **/
.navbar {
    list-style-type:none;
    background-color:turquoise;
    padding:0px;
    width:1080px;
    height:64px;
    float:right;
}

.navbar li {
    float:left;
    padding:10px;
}

.navbar .navbar-playbutton {
    float:right;
    padding:10px;
}

.navbar li .navbar-active {
    background-color:lightgray;
}

.navbar li a {
    display:block;
    background-color:lightgreen;
    padding:8px 18px;
    color:black;
    font-size:24px;
    text-decoration:none;
}

.navbar li a:hover {
    background-color:lightgray;
}

.dropdown {
    display:inline-block;
}

.dropbtn {
    background-color:lightgreen;
    color:black;
    padding:8px;
    font-size:24px;
}

.dropdown .dropdown-content {
    display:none;
    position:inline;
    background-color:#f9f9f9;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    position:absolute;
}

.dropdown .dropdown-content a {
    color:black;
    padding:12px;
    text-decoration:none;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown:hover .dropbtn {
    background-color:greenyellow;
}

/* End of Navbar Content */

/* Start of Homepage CSS */
#index_container {
    height:840px;
    width:1280px;
    margin-left:auto;
    margin-right:auto;
    border:4px solid lightgrey;
  }

#indexheader {
    text-align:center;
}

.footer {
    background-color:turquoise;
    width:1280px;
    margin-top:16px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
/*Carousel*/
* {box-sizing:border-box}

.slideshow-container {
    padding-top:20px;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
}

.text {
     color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
     background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*Carousel*/

/*content game guide */
#gameguide_content {
    height:600px;
    width:1280px;
    margin-top:16px;
    margin-left:auto;
    margin-right:auto;
    border:4px solid lightgrey;
}

#gameguide_box {
    padding-left:24px;
}

#gameguide_left {
    width:40%;
    float:left;
}

#gameguide_right {
    width:30%;
    float:right;
}

#gameguide_content_pic {
    width: 100%;
    height: auto;
    padding-right:20px;
    padding-top:20px;
}


/*About Section*/
.about_box {
    height:940px;
    width:1280px;
    margin-top:16px;
    margin-left:auto;
    margin-right:auto;
    border:4px solid lightgrey;
}

.about_content{
    padding-left:24px;
    text-align:center;
}

#about_img1 {
    width:25%;
    height:auto;
}

#about_img2 {
    width:40%;
    height:auto;
}

.contact_box {
    height:520px;
    width:1280px;
    margin-top:16px;
    margin-left:auto;
    margin-right:auto;
    border:4px solid lightgrey;
}

.contact_content {
    padding-left:24px;
    text-align:center;
}

#contact_icon {
    padding:10px;
    margin:10px;
    width:150px;
    height:150px;
    float:center;
}